
<div class="footer-container grid-container">
	<div class="footer-inner-wrapper">
		<div class="grid-x xgrid-padding-x align-top">
			<div class="footer-social-icons cell medium-3 large-4 large-order-2">
				<div class="grid-x grid-margin-x">
					<div class="cell shrink">
						<a href="https://www.linkedin.com/in/jeffrwilkerson" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
					</div>
					<div class="cell shrink">
						<a href="https://github.com/stljeff1/" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
					</div>
					<div class="cell shrink">
						<a href="https://www.instagram.com/runningantelope/" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="footer-quick-links medium-9 large-8 large-order-1">
				<div class="grid-x align-center medium-align-left">
					<div class="cell shrink">
						&copy; {{"now"|date('Y')}}
					</div>

					{% for item in menu.items %}
						<div class="cell shrink">
							<a href="{{ item.link }}">{{ item.title }}</a>
						</div>
					{% endfor %}
				</div>
				<p class="about-site">This site powered by <a href="https://www.upstatement.com/timber/" target="_blank">Timber</a>, a Wordpress plugin that uses the <a href="http://twig.sensiolabs.org/" target="_blank" rel="noopener noreferrer">Twig Template Engine</a>. <br/> See my <a href="https://github.com/stljeff1/jeffw-blog"  rel="noopener noreferrer" target="_blank">theme's sourcecode on GitHub</a>.
				</p>
			</div>
		</div>
	</div>
</div>