<header class="site-header">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell">
				{% block site_logo %}
					<div class='site-logo-container'>
						<a href="/">
							<img src="{{  theme_images }}/jw-red-icon-small.png">
							{{ site.name }}
						</a>
					</div>
				{% endblock %}
			</div>
		</div>
	</div>

</header>