<header id="SiteHeader" class="site-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-justify align-stretch">
			<div class="cell shrink">
				{% block site_logo %}
					<div class='site-logo-container'>
						<a href="/">
							{{ site.name }}
						</a>
					</div>
				{% endblock %}
			</div>
			<div class="cell auto site-nav-container">
				{% block site_nav %}
					<a href=""></a>
					<nav class="site-nav">

	  					<ul class="no-bullet">
	  						{% for item in menu.items %}
	  							<li><a href="{{ item.link }}">{{ item.title }}</a></li>
	  						{% endfor %}
	  					</ul>
					</nav>
				{% endblock %}
			</div>

		</div>
	</div>

</header>