{% extends "templates/base.twig" %}

{% block content %}
	{#{{ dump() }}#}
	<section class="large-page-header">
		<h1 class="">All Posts</h1>

		
	</section>
	<section class="post-listing">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
	
{% endblock %}
