{% extends "templates/base.twig" %}

{% block site_header %}
	<div class="root-header-link">
		<a href="//jeffwilkerson.net"><i class="far fa-arrow-alt-circle-left"></i> Return to jw.net</a>
	</div>

{% endblock %}
{% block content %}
	{#{{ dump() }}#}
	<section class="front-page-blurb large-page-header">
		<h1 class="">{{ post.title }}</h1>
		{{ post.content }}
		
	</section>
	<section class="main-content-area front-page-cats">
		<h2 class="section-header">Common Blog Categories</h2>
		<div class="cat-links">
			{{ get_category_links() }}
		</div>
	</section>
	<section class="post-listing">
		<h2 class="section-header">Recent Posts</h2>
		{% for post in recent_posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		{% include 'partials/pagination.twig' with { pagination: recent_posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</section>
	
{% endblock %}
