{% extends "templates/base.twig" %}

{% block content %}
	{#{{ dump() }}#}
	<section class="large-page-header">
		<h1 class="">Connect</h1>

		<div class="page-content">
			{{ post.content }}
		</div>
		<h2>Homepage</h2>
		<p><a href="//www.jeffwilkerson.net">jeffwilkerson.net</a></p>

		<h2>Quick Contact</h2>


		<div class="grid-x grid-padding-x align-center">
			<div class="cell shrink">
				<a href="https://jeffwilkerson.net/connect">Form Contact</a>
			</div>
			<div class="cell shrink">
				Email: <a href="#" class="email-link"></a>
			</div>
		</div>

		<h2>Instagram</h2>

		<div class="grid-x grid-padding-x align-center">
			<div class="cell shrink">
				<a href="https://www.instagram.com/runningantelope/" target="_blank" rel="noopener noreferrer">@runningantelope</a>
			</div>
			<div class="cell shrink">
				<a href="https://www.instagram.com/cerebralpalsyyogi/" target="_blank" rel="noopener noreferrer">@cerebralpalsyyogi</a>
			</div>
		</div>

		<h2>Other Online Profiles</h2>

		<div class="grid-x grid-padding-x align-center">
			<div class="cell shrink">
				<a href="https://www.linkedin.com/in/jeffrwilkerson" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
			</div>
			<div class="cell shrink">
				<a href="https://github.com/stljeff1/" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
			</div>
			<div class="cell shrink">
				<a href="#https://twitter.com/cPalsyYogi" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="cell shrink">
				<a href="https://www.strava.com/athletes/35290825" target="_blank" rel="noopener noreferrer"><i class="fab fa-strava"></i></a>
			</div>
		</div>

		

		
	</section>
	
{% endblock %}
