
.button {
	xborder-radius: $default-border-radius;
	color: $white;
	font-weight: bold;

	// @include -zf-breakpoint-value(auto, $button-padding-bp-vals) {
	// 	padding: $-zf-bp-value;
	// }
	&.info-btn {
		background-color: $red;
	}
}

a.button, a.button:visited {
	color: $white;
	&:hover {
		&.info-btn {
			background-color: $red-light
		}
	}
}

.rounded-box {
	border-radius: $default-border-radius;
	&.padded {
		@include xy-gutters($gutter-position: top right bottom left, $gutter-type: padding);
	}
	&.m-b {
		@include xy-gutters($gutter-position: bottom);
	}
}

.white-bg {
	background-color: $white;
}

.large-page-header {
	
	@include xy-gutters($gutter-position: bottom, $gutter-type: padding);
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	h1 {
		font-size: 2.5rem;
		@include xy-gutters($gutter-position: bottom);
	}
	p {
		font-size: 1.25rem;
		line-height: 1.25;
	}
	@include breakpoint(large) {
		h1 {
			font-size: 4rem;
		}
		p {
			font-size: 1.5rem;

		}
	}
}