
.site-header {

	background: $navy;
	border-bottom: 3px solid $red;
	top: -100%;
	transition: all .25s;
	@include xy-gutters($gutter-position: top bottom, $gutter-type: padding);

	.site-logo-container {
		a {

		    color: #fff;
		    background: transparent url(./images/jw-red-icon-small.png) center left no-repeat;
		    background-size: 2rem;
		    font-size: 1.5rem;
		    line-height: 1.5;
		    padding: 0 0 0 2.5rem;
		    margin: 20px 0;

		}
	}
	.site-nav-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	nav { 
		ul {
			display: flex;
			justify-content: flex-end;
			margin: 0;
		}
		li {
			padding: 0 1.25rem;
		}
		a, a:visited {
			color: $body-background;
			font-weight: bold;
			&:hover {
				color: $highlight-color;
			}
		}
	}

	@include breakpoint(medium) {
		height: $nav-height;
	}
	@include breakpoint(medium down) {
		@include navbar-fixed;
	}
	
}
body.scrolling {
	@include breakpoint(medium) {
		.site-header {
			@include navbar-fixed;
			height: $nav-height;
		
		}
		.root-container {
			padding-top: $nav-height;
		}
	}
}