.site-footer {
	background-color: $white;

	@include -zf-breakpoint-value(auto, $grid-column-gutter) {
		$pad-value: rem-calc($-zf-bp-value / 2);
		padding-top: $pad-value;
		padding-bottom: $pad-value;
	}
	.footer-quick-links,
	.footer-social-icons {
		.cell {
			line-height: 1;
		}
	}
	.footer-social-icons i {
		font-size: 1.5rem;
	}
	.about-site {
		@include xy-gutters($gutter-position: top);
	}
	@include breakpoint(large) {
		.footer-quick-links .grid-x {
			justify-content: flex-start;
		}
		.footer-social-icons .grid-x {
			justify-content: flex-end;
		}
	}
	@include breakpoint(small down) {
		.footer-social-icons {
			@include xy-gutters($gutter-position: bottom);
		}
		.about-site {
			text-align: center;
		}
	}

}
.footer-quick-links {
	.cell {
		border-right: 2px solid #CCC;
		padding-right: .5rem;
		margin-right: .5rem;
		line-height: 1;
		&:last-child {
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
		}
	}
}