
.site-header {
	background: $navy;
	@include xy-gutters($gutter-position: top bottom, $gutter-type: padding);
	.site-logo-container {
		a {

		    color: #fff;
		    background: transparent url(./images/jw-red-icon-small.png) center left no-repeat;
		    background-size: 2rem;
		    font-size: 1.5rem;
		    line-height: 1.5;
		    padding: 8px 0 0 48px;
		    margin: 20px 0;

		}
	}
}