$img-folder: '../images';

@import "utils/all-settings";

@import "utils/mixins";

@import "utils/import-foundation.scss";

@import "base-classes";


@import "site-header";
@import "site-footer";
@import "article";

//@import "forms";
//@import "newsletter";


body {
	background-color: $body-background;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	a {
		&, &:visited {
			color: $navy;
		}
		&:hover {
			color: $navy-hover;
		}
	}
}
h1, .h1, .main-title {
	color: $navy;
}

a {
	color: $red;
	&:hover {
		color: $red-light;
	}
	&:visited {
		color: $red;
	}
	&.read-more {
		@include button;
		//display: block;
		font-size: 85%;
		&:before {
			content: '';
			display: block;
		}
	}
}

blockquote {
	margin: 0 auto;
	padding: 0;
	max-width: 30rem;
	font-size: 2rem;
	text-align: center;
	border: 0;
	&, & p {
		color: $white;	
	}
}

main {
	background-color: #F2f2f2;
	@include xy-gutters($gutter-position: top left right bottom, $gutter-type: padding);
}

.main-content-area {
	@include main-content-area;
}
//@import 'products';
@import 'pages/*.scss';

