$img-folder: '../images';

@import "common/all-settings";

@import "common/mixins";

@import "vendor/import-foundation";

@import "base-classes";


@import "site-header";
@import "site-footer";
@import "article";

//@import "forms";
//@import "newsletter";

.grid-x {
	xborder: 1px solid blue;
}
main {
	xdisplay: none;
}
#wpadminbar {
	display: none;
}

body {
	background-color: $body-background;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	color: $navy;
	a {
		&, &:visited {
			color: $navy;
		}
		&:hover {
			color: $navy-hover;
		}
	}
}
h2, .h2, .section-title {
	color: $red;
}

a {
	color: $red;
	&:hover {
		color: $red-light;
	}
	&:visited {
		color: $red;
	}
	&.read-more {
		@include button;
		//display: block;
		font-size: 85%;
		&:before {
			content: '';
			display: block;
		}
	}
}

blockquote {
	margin: 0 auto;
	padding: 0;
	max-width: 30rem;
	font-size: 2rem;
	text-align: center;
	border: 0;
	&, & p {
		xcolor: $white;	
	}
}

main {
	background-color: #F2f2f2;
	//@include xy-gutters($gutter-position: top left right bottom, $gutter-type: padding);
}

pre {
	
	@include xy-gutters($gutter-position: bottom);
}

.main-content-area {
	@include main-content-area;
}
//@import 'products';
@import 'pages/*.scss';

